.request-unit {
  padding: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: #dcdcdc;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.request-unit h1 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.request-unit h1 > small {
  letter-spacing: 0px;
  font-size: 20px;
  }
.request-unit p {
  font-size: 16px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
.sign-up {
  margin-top: 100px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.sign-up p {
  font-size: 15px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
.request-box {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.request-box h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: inherit;
  margin-bottom: 20px;
  display: inline-block;
}
.request-box p {
  font-size: 15px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}
.footer, .push {
   height: 2em;
}
.pushdown {
	padding: 30px;
	}
.page-head{
	margin-bottom: 20px;
}
.page-head h3 {
  font-size: 15px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
body {
	background-color: #9aacbc;
	}
.add-new {
	padding: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #dddddd;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
#myTab{
	margin-bottom: -1px;
	}
#tabforms{
	margin-bottom: -1px;
	}
div.hr {
	background-image: url("../img/infi.png") no-repeat scroll center;
	height: 25px;
}
#signout-icon{
	font-size: 80px;
	size: 40px;
}
