	{% extends 'layout.html' %}

	{% block body %}


  {% if session.logged_in %}

 <div class="span8 offset2"> 
  {% if quotes %} 
  <form class="well" action="{{ url_for('approved') }}" method=post>
  {% set count=0 %}
  {% for entry in quotes %}
  	   <input class=span1 type=checkbox name={{count}} value=1/> 
	   <span style="font-size:15px"><b>{{ entry.quote }}</b> </span>
	   <div class="pull-right"><p>--{{ entry.author }} <br></p></div>
	   <p><b>Tags:</b>  {{ entry.tags }}</p>
<hr> 
  {% set count= count+1 %}
  {% endfor %} 
  {% else %}
   <div class="blog-unit">
      <h2>Oh. Sadness!</h2>
      <p>No pending requests!</p>
		
  </div>
 
 {% endif %} 
 
	   <button type=submit class="btn pull-right"  > Add </button>
	   <span class="pull-right"><a href={{ url_for('delete_pending') }}> Delete Rest </a></span>
  </form>
  </div>
 {% endif %} 
 
 {% endblock %}
  
