
{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=well>
 
       <input type=text size=30 name=title class=span10 placeholder=Title>


      <textarea type=text size=30 name=text class=span10 rows=10 placeholder=Content></textarea>
      <input type=text size=30 name=tags class=span10 placeholder="Tags separated by commas"> </textarea>

    <br><button type="submit" class="btn">Share</button>  
    </form>
  {% endif %}
  
  {% if entries %}
  {% for entry in entries %}
  <div class="blog-unit" >
	  <div data-toggle="collapse" data-target="#{{ entry.title }}" >
      <h2>{{ entry.title }}</h2></div>
      <div id="{{ entry.title }}" class="collapse in" style= height:0px>
      <p>{{ entry.text|safe }}</p>
	 
	  <br>
	  {% for tag in entry.tags %}
	    <span class="tag-unit">{{ tag }}</span>
   	  {% endfor %}	
   	  </div>
  </div>
  {% endfor %} 
  {% else %}
   <div class="blog-unit">
      <h2>Unbelievable!</h2>
      <p>The database is empty!</p>
		
  </div>
 
  {% endif %}
  
{% endblock %}
