
{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=well>
    <div data-toggle="collapse" data-target="#form">
    <h3> Add a quote:</h3></div>
    <div id="form" class="collapse in">
       <input type=text size=30 name=quote class=span11 placeholder=Quote><br>
	<h3 >Who said it?</h3>
      <input type=text size=30 name=author class=span3 placeholder="WhoSaddit?"></textarea>
      <h3> Tag some words.</h3>
      <input type=text size=30 name=tags class=span4 placeholder="Tags separated by commas"> </textarea>

    <br><button type="submit" class="btn">Share</button>  
    </form>
    </div>
  {% endif %}

  
  {% if entries %}
  {% for entry in entries %}
  <div class="blog-unit" >
	  <div data-toggle="collapse" data-target="#{{ entry.id }}" >
      <h3> "{{ entry.quote }}"<h3></div>
	 

      <div id="{{ entry.id }}" >
      <p class=pull-right>-- {{ entry.author }}</p>
	 
	  <br>
	  {% for tag in entry.tags %}
	    <span class="tag-unit">{{ tag }}</span>
   	  {% endfor %}	
   	  </div>
  </div>
  {% endfor %} 
  {% else %}
   <div class="blog-unit">
      <h2>Unbelievable!</h2>
      <p>The database is empty!</p>
		
  </div>
 
  {% endif %}
  
{% endblock %}
