{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    Public Requests
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }}'s Requests 
  {% else %}
    My Requests 
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_timeline' %}
      <div class=followstatus>
      {% if g.user.user_id == profile_user.user_id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ url_for('follow_user', username=profile_user.username)
          }}">Follow user</a>.
      {% endif %}
      </div>
    {% elif request.endpoint == 'timeline' %}
      <div class=twitbox>
        <h3>What you think should be added to our archive, {{ g.user.username }}?</h3>
        <form action="{{ url_for('add_request') }}" method=post>
          <p>URL:<input type=text name="url" size=60>
	     Script:<input type=text name="script" size=60>
	     Description:<input type=text name="description" size=60>
	     Frequency:<input type=text name="frequency" size=60></p>
          <input type=submit value="Archive-it!">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
  {% for message in requests%}
    <li><img src="{{ message.email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('user_timeline', username=message.request_by)
      }}">{{ message.request_by}}</a></strong>
      {{ message.url}}
      {{ message.status}}
      <small>&mdash; {{ message.queued_at|datetimeformat }}</small>
  {% else %}
    <li><em>There's no requestso far.</em>
  {% endfor %}
  </ul>
{% endblock %}
