{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    Public Requests
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }}'s Requests 
  {% else %}
    My Requests 
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
	    {% if request.endpoint == 'user_timeline' %}
	    <div class="navbar sub-navbar-fixed">
		      	<ul class="nav nav-pills">
			      {% if g.user.user_id == profile_user.user_id %}
				<li>This is you!</li>
			      {% elif followed %}
				<li>You are currently following this user.</li>
				<li><a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username) }}">Unfollow user</a>.</li>
			      {% else %}
				You are not yet following this user.
				<li><a class=follow href="{{ url_for('follow_user', username=profile_user.username) }}">Follow user</a>.</li>
			      {% endif %}
			</ul>
			</div>
    {% elif request.endpoint == 'timeline' %}

      <div class="request-box">
        <h2>What you think should be added to our archive, {{ g.user.username }}?</h2>
        <form class="well form-inline" action="{{ url_for('add_request') }}" method=post>
          <input class="span5" type=text name="url" placeholder="URL">
	  <div class="btn-group">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Script<span class="caret"></span> </a>
	    <ul class="dropdown-menu">
	    <li> File </li>
	    <li> File </li>
	    <li> File </li>
	    </ul>
	  </div>
	     <input type=text class="span4" name="description"  placeholder="Small Description">
	  <div class="btn-group">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Frequency<span class="caret"></span> </a>
	    <ul class="dropdown-menu">
	    <li> Script </li>
	    <li> Script </li>
	    <li> Script </li>
	    </ul>
	  </div>
          <button class="btn" type=submit value="Archive-it!">Archive-it!</button>
        </form>
      </div>
    {% endif %}
  {% endif %}
  {% for message in requests%}
  <div class="request-unit">
      <h2>{{ message.url}}</h2>
    <p>Submitted by:   <img src="{{ message.email|gravatar(size=48) }}">
       <strong><a href="{{ url_for('user_timeline', username=message.request_by)
      }}">{{ message.request_by|get_user}}</a></strong>
     <span class="pull-right"> Status of request: {{ message.status|get_status}}</span>

      <small>&mdash; {{ message.queued_at|datetimeformat }}</small>
  </div>
  {% else %}
    <em>There's no requestso far.</em>
  </div>
  {% endfor %}
{% endblock %}
